<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .navbattop{
            background-color:chocolate;
           margin:0;
            height:50px;
            margin-left: -8px;
            margin-right:0px;
           
        }

        .navbattop nav ul li{
                list-style-type: none;
                margin-right: 10px;
                margin-top:8px;
                display: inline;
                float: right;
                
            }

            .navbattop nav ul li  a  {
               
                display: block;
                padding: 8px;
                background-color: #dddddd;
            }

       

    </style>
</head>
<body>
    <div class="navbattop">
        <nav>
            <ul>
                <li><a href="default.asp">Home</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
            </ul>
        </nav>
    </div>
    <div style="background-color:white">
        @RenderBody()
    </div>
</body>
</html>
