<h1>HTTP Logging middleware</h1>
<p>
    Support for the HTTP Logging middleware has been introduced in ASP.NET Core 6.<br /> You can take advantage of this middleware in ASP.NET Core 6 to log information about HTTP requests and responses that include one or more of the following:
</p>