<style>
    *{
        margin:0;
        padding:0;
        background-image:url(..);
        border: double solid black;
       
    }
    h1{
        color :red;
        text-align:center;
        font-size:20px;
    }

    .h2tag{
        background-color:bisque;
        font-family:Arial, Helvetica, sans-serif;
        text-align:justify;
        font-size:15px;
        inline-size:auto;
    }

    .background{
        border:double;
        width:150px;
        height:200px;
    }
</style>
<h1>
    Welcome to Web Development course.@ViewBag.Name
    @TempData["Name"]
</h1><br />
<h2 class="h2tag">
    ASP.NET 6, the Program and Startup classes have been merged into the Program class. <br />Here is an example of the Program class in ASP.NET Core 6:
</h2>
<div class="background">
    
</div>
<div>
    <button class="btn btn-warning"> Register Now</button>
</div>