<h1>
    Program.cs file changes
</h1>
<div>
    <ul>
        <li>The new console template dramatically simplifies the code you need to write for a program.</li>
        <li>The console template no longer contains a Program class. In essence, you only need to write the Main method now.</li>
        <li>NET versions, when you created a new ASP.NET Core project, a class named Program would be created automatically inside a file named Program.cs. </li>
    </ul>
</div>
